.searchInput {
  width: 100%;
}

.movieListContainer {
  padding: 5px 15px 5px 0;
}

.movieListContainer .movieList {
  display: block;
  overflow: hidden;
  clear: both;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: 10px;
  margin: 0 0 10px 0;
}

.movieListContainer .movieList:hover {
  cursor: pointer;
  opacity: 0.7;
  border: 1px solid #007bff;
}

.selecteMovie {
  border: 1px solid #007bff !important;
}

.movieListContainer .movieList .titleContainer {
  float: left;
  margin: 0 0 0 10px;
}

.movieListContainer .movieList .discription {
  display: block;
  overflow: hidden;
  clear: both;
  margin: 5px 0 0 0;
}

.movieListContainer .movieList .discription div {
  display: -webkit-box;
  max-width: 100%;
  height: 43px;
  margin: 10px auto 0;
  font-size: 14px;
  line-height: 1;
  -webkit-line-clamp: 3;
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  /* autoprefixer: on */
  overflow: hidden;
  text-overflow: ellipsis;
}

.movieListContainer .movieList .titleContainer .txt-label {
  line-height: 12px;
}

.movieListContainer .movieList .titleContainer .txt-label label {
  font-size: 12px;
  margin: 0 0 5px 0;
}

.movieListContainer .movieList .titleContainer .title label {
  width: 230px;
}

.movieListContainer .movieList .img .img-tumb {
  width: 50px;
}

.movieListContainer .movieList .img {
  float: left;
}

.detailContainer .img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin: 0 auto;
  opacity: 0.3;
}

.detailContainer .img img {
  width: 100%;
}

.detailContainer .movieDetails {
  position: absolute;
  z-index: 2;
  padding: 0 20px;
  margin: 30px;
}

.detailContainer .movieDetails .labeltxt {
  font-size: 20px;
  text-transform: capitalize;
}

.col-flex-1 {
  display: flex;
  width: 30%;
}

.col-flex-2 {
  display: flex;
  width: 70%;
  position: relative;
}

.display-flex {
  display: flex;
}

.noResult h2 {
  text-align: center;
  margin-top: 20px;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.form-inline {
  display: flex;
  margin: 20px 0;
}

.form-inline .form-control{
  display: flex;
    padding: 10px 5px;
    font-size: 16px;
}
.form-inline .btn {
  display: flex;
}