<div class=" mt-3">
  <div class="col-sm-12">
    <div class="form-inline">
      <input class="form-control mr-sm-2 col-11 searchInput" [(ngModel)]="searchObj.txt" type="search" placeholder="Search"
        (keypress)="checkForEnter($event)" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" (click)="searchMovie()">Search</button>
    </div>
  </div>
</div>
<div class="noResult" *ngIf="searchObj.totalResult === 0 && searchObj.searchDone">
  <h2>No Result for the search done</h2>
</div>
<div class="display-flex mt-3">
  <div class="col-flex-1">
    <div class="movieListContainer">
      <div class="movieList" [ngClass]="{'selecteMovie': (movieList.id === searchObj.selectedMovieID)}" *ngFor="let movieList of searchObj.list"
        (click)="selectedMovie(movieList.id)">
        <div class="img">
          <img class="img-tumb" [src]="imgBaseUrl + movieList.poster_path">
        </div>
        <div class="titleContainer">
          <div class="title txt-label">
            <label>Title: {{movieList.title}}</label>
          </div>
          <div class="rating txt-label">
            <label>Rating: {{movieList.vote_average}}/10</label>
          </div>
          <div class="releasedOn txt-label">
            <label>Released ON: {{movieList.release_date}}</label>
          </div>
        </div>
        <div class="discription">
          <div>{{movieList.overview}}
          </div>
        </div>
      </div>
      <div class="loadMore" *ngIf="!(searchObj.pageNo >= searchObj.totalPage)">
        <button type="button" class="btn btn-link" (click)="loadMore()">Load More...</button>
      </div>
    </div>
  </div>
  <div class="col-flex-2">
    <div class="detailContainer" *ngIf="movieObj">
      <div class="img">
        <img [src]="imgBaseUrl + '' + movieObj.poster_path" alt="">
      </div>
      <div class="movieDetails">
        <div class="title">
            <label class="labeltxt">title : <span>{{movieObj.title}}</span></label> 
        </div>
        <div class="tagLine">
            <label class="labeltxt">tagLine : <span>{{movieObj.tagline}}</span></label>
        </div>
        <div class="runtime">
            <label class="labeltxt">runtime : <span>{{movieObj.runtime}}</span></label>
        </div>
        <div class="imdbID">
            <label class="labeltxt">imdbID : <span>{{movieObj.imdb_id}}</span></label>
        </div>
        <div class="production">
            <label class="labeltxt">production : <span *ngFor="let productionList of movieObj.production_companies">{{productionList.name}}, </span></label>
        </div>
        <div class="budget">
            <label class="labeltxt">budget : <span>{{movieObj.budget}}</span></label>
        </div>
        <div class="overview">
            <label class="labeltxt">overview : <span>{{movieObj.overview}}</span></label>
        </div>
        <div class="status">
            <label class="labeltxt">status : <span>{{movieObj.status}}</span></label>
        </div>
        <div class="vote">
            <label class="labeltxt">vote : <span>{{movieObj.vote_average}}/10 ({{movieObj.vote_count}} Votes)</span></label>
        </div>

      </div>
    </div>
  </div>
</div>
